@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Publica';
  src: url('./assets/font/PublicaPlay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PublicaSans';
  src: url('./assets/font/PublicaSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}