@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    transition: background-color 0.3s ease, color 0.3s ease; /* Smoother transition */
  }

  body {
    @apply font-sans;
    transition: background-color 0.3s ease, color 0.3s ease; /* Ensure body also has smooth transition */
  }
}

@font-face {
  font-family: 'Publica';
  src: url('./assets/font/PublicaPlay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PublicaSans';
  src: url('./assets/font/PublicaSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



 /* Add this CSS to hide the scrollbar (assuming you're using Tailwind CSS): */
 .hide-scrollbar {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }
.hide-scrollbar::-webkit-scrollbar {
   display: none;  /* Chrome, Safari, Opera*/
 }


 .cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar {
  overflow: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}


.hide-scrollbar {
  overflow: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}


.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}
